@font-face {
  font-family: font;
  src: url("/fonts/FiraCode-VF.ttf");
}

@font-face {
  font-family: nerdfont-icons;
  src: url("/fonts/SymbolsNerdFont-Regular.ttf");
}

.mono-font {
  font-family: font, nerdfont-icons;
}
